input{
    display: block;
    padding: .8rem;
    width: 100%;
}

label{
    display: block;

}
.Signup__Container{
    background-color: #f3f3f3;
    width: 50%;
    min-width: 630px;
    /* height: 44%; */
    color: #3C5A92;
    box-sizing: border-box;
    font-size: 1rem;

}

.Signup__Form{
    margin: 2% 15% 0 5%;
}

.Signup__Form_Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}


.Signup__Form_Flex_Full{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.MarginBellow{
margin:0 0 3% 0;
}
.Fulline{
    width: 80%;
    /* margin: 2% 17% 2% 5%; */
}

.Halfline{
    width: 40%;

}
.Quarterline{
    width: 22%;
}



.Signup__Form__Button{
    background-color: #47C13E;
    padding: .5rem 0;
    margin: 1rem 0;
    color: #FFF;
    font-size: 2rem; 
    width: 50%;


}
.ParagraghLine{
width: 40%;
color: #000;
font-size: .75rem;
}


.Footer{
    background-color: #000000;
    width: 100%;
    height: 10%;
    text-align: center;
}

.Footer__Text{
    color: #FFF;
    font-size: 4rem;

}







