.Footer__Container{

  background-color: #BFCCE7;
    border-color: #707070;
    border-width: 5px;
    width: 100%;
    min-width: 630px;
    color: #3C3B3B;
    box-sizing: border-box;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.About_Contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

@media only screen and (max-width: 1050px) {
    .Footer__Container{
        font-size: 1.75rem;
    }  }



@media only screen and (max-width: 630px) {
    .Footer__Container{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    
    
    }
    
    .About_Contacts{
        margin: 0 0 5% 0;
    }  }

